.workplace-identity {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px; /* A ajuster */
  height: auto;
  z-index: 1; /* Assure-toi que l'image est sous le titre */
  transition: transform 0.1s ease-in-out; /* Légère transition au scroll */
}