.home-title {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-index-title {
  position: sticky;
  top: 20%;
  z-index: 5;
}


