/* Includes */

@import "var";
@import "about_me";
@import "help_center";
@import "plugin_home";
@import "plugin_seal";
@import "off_topic";
@import "index";
@import "responsive";
@import "svg_backgroundtitle";
@import "animated_keyframes";

/* Style de base du body */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  font-family: Arial,sans-serif;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: $secondary-color;
  position: relative;
  z-index: 100;
}